* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

/*Estilização Input*/
#input select:focus{
  border: none;
}

/*Estilização da Scrollbars*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8bb582;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

Link:hover {
  color: #8bb582 !important;
}

a {
  list-style-type: none !important;
}